<!DOCTYPE html>
<html class="dashboard">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
  <title>Panel de administración</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-modal.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
</head>
<body>
  <header role="banner">
    <h1>Panel de administración</h1>
    <ul class="utilities">
      <li class="users"><a href="#">Cuenta</a></li>
      <li class="logout warn"><a href="">Salir</a></li>
    </ul>
  </header>
  <nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="index.html">Panel</a></li>
      <li class="edit"><a href="casitodos.html">Entradas</a></li>
    </ul>
  </nav>
  <main role="main" ng-app="mrddrs.creepypastas.com" ng-cloak="" ng-controller="posts-CTRL as mrddrs">
    <section class="panel">
      <h2>Bienvenido al panel de administración </h2>
      <ul>
        <li>La barra lateral permite <b>visualizar</b> las listas de posts.</li>
      </ul>
    </section>

    <section class="panel">
      <h2><i class="fa fa-cogs"></i> Opciones</h2>
      <ul>
        <li ng-repeat="status in mrddrs.statusList">
          <span ng-click="status.load = !status.load;">
            <i class="fa" ng-class="{'fa-check-square-o':status.load,'fa-square-o':!status.load}"></i>
            Cargar <b><i>{{status.desc}}</i></b>
          <span>
        </li>
      </ul>
    </section>

    <section class="panel important">
      <h2 ng-init="mrddrs.posts.loadByStatus('casitodos')">
        Portafolio de creepypastas
        <i ng-click="mrddrs.posts.loadByStatus('casitodos')" class="fa fa-refresh" ng-class="{'fa-spin' : mrddrs.loading.casitodos.isLoading, 'mrddrs-icon-error' : mrddrs.loading.casitodos.error}"></i>
      </h2>
      <table>
        <tr>
          <th>
            <span ng-click="mrddrs.order('ID')">ID</span>
            <i ng-show="mrddrs.predicate === 'ID'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="mrddrs.search.ID">
          </th>
          <th>
            <span ng-click="mrddrs.order('post_title')">Título</span>
            <i ng-show="mrddrs.predicate === 'post_title'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="mrddrs.search.post_title"></th>
          <th>
            <span ng-click="mrddrs.order('post_status')">Estado</span>
            <i ng-show="mrddrs.predicate === 'post_status'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="mrddrs.search.post_status"></th>
        </tr>
        <tr ng-repeat="post in mrddrs.posts.casitodos | filter:mrddrs.search | orderBy:mrddrs.predicate:mrddrs.reverse">
          <td>{{post.ID}}</td>
          <td ng-mouseover="count = count + 1">
            <span ng-click="mrddrs.launch('read-single-post',post)" class="status cursor-zoom-in"><i class="fa fa-arrows-alt"></i> {{post.post_title}}</span>
            <a ng-href="{{post.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
          </td>
          <td class="status">
            <span ng-click="mrddrs.launch('edit-single-post',post)">{{post.post_status}} <i class="fa fa-pencil"></i></span>
          </td>
        </tr>
      </table>
    </section>

  </main>
  <footer role="contentinfo">Creepypastas.com está hecho con Wordpress, BuddyPress y <i>mucho amor</i></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.8/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-dialog-service/5.2.11/dialogs.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
