<!DOCTYPE html>
<html class="dashboard">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
  <title>Panel de administración</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
</head>
<body>
  <header role="banner">
    <h1>Panel de administración</h1>
    <ul class="utilities">
      <li class="users"><a href="#">Cuenta</a></li>
      <li class="logout warn"><a href="">Salir</a></li>
    </ul>
  </header>
  <nav role='navigation'>
    <ul class="main">
      <li class="dashboard"><a href="index.html">Panel</a></li>
      <li class="edit"><a href="pendientes.html">Envíos pendientes</a></li>
      <li class="edit"><a href="envios.html">Nuevos envíos</a></li>
      <li class="edit"><a href="cementerio.html">Cementerio</a></li>
      <li class="edit"><a href="casitodos.html">Portafolio</a></li>
    </ul>
  </nav>
  <main role="main" ng-app="mrddrs.creepypastas.com" ng-cloak="">
    <section class="panel important">
      <h2>Bienvenido al panel de administración </h2>
      <ul>
        <li>La barra lateral permite <b>visualizar</b> las listas de posts.</li>
      </ul>
    </section>

    <section class="panel important" ng-controller="posts-CTRL as mrddrs">
      <h2 ng-init="mrddrs.posts.loadByStatus('envios')">
        Nuevos envíos
        <i ng-click="mrddrs.posts.loadByStatus('envios')" ng-class="mrddrs.refreshClass('envios')"></i>
      </h2>
      <table>
        <tr>
          <th>
            <span ng-click="mrddrs.order('ID')">ID</span>
            <i ng-show="mrddrs.predicate === 'ID'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="search.ID">
          </th>
          <th>
            <span ng-click="mrddrs.order('post_title')">Título</span>
            <i ng-show="mrddrs.predicate === 'post_title'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="search.post_title"></th>
          <th>
            <span ng-click="mrddrs.order('post_status')">Estado</span>
            <i ng-show="mrddrs.predicate === 'post_status'" class="fa" ng-class="{'fa-caret-down':mrddrs.reverse, 'fa-caret-up':!mrddrs.reverse}"></i>
            <input ng-model="search.post_status"></th>
        </tr>
        <tr ng-repeat="post in mrddrs.posts.envios | filter:search | orderBy:mrddrs.predicate:mrddrs.reverse">
          <td>{{post.ID}}</td>
          <td><a ng-href="{{post.url}}">{{post.post_title}}</a></td>
          <td>{{post.post_status}}</td>
        </tr>
      </table>
    </section>

  </main>
  <footer role="contentinfo">Creepypastas.com está hecho con Wordpress, BuddyPress y <i>mucho amor</i></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.1/angular.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
  <script src="app.js"></script>
</body>
</html>
